@import "toastify.css";
@import 'mapbox-gl/dist/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "americana";
    src: url("/assets/fonts/americana/Americana-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "americana";
    src: url("/assets/fonts/americana/AmericanaStd-Italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "trash";
    src: url("/assets/fonts/trashplus/trashplusbold_italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "trash";
    src: url("/assets/fonts/trashplus/trashplusbold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

.bg-nav {
    background-image: 'linear-gradient(270deg, #A8C4EF 39.58%, #0AF2AD 100%);';
}

.bg-greenblue {
    background-image: 'linear-gradient(90.2deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 0.01%, rgba(255, 255, 255, 0.2) 0.02%, rgba(255, 255, 255, 0.1) 43.23%, rgba(255, 255, 255, 0) 70.83%, rgba(255, 255, 255, 0.24) 100%);';
}

.menu-button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

li {
    list-style: circle;
    margin-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/**
 * Carousel overflow
 */
 .preventOverflow {
  position: relative;
  overflow: hidden;
}

.preventOverflow .slick-list {
  overflow: visible;
  position: relative;
  height: 310px;
}

.preventOverflow .slick-track {
  position: absolute;
  top:0;
  left: 0;
}

.preventOverflow::before,
.preventOverflow::after {
  position: absolute;
  top: -1px;
  bottom: 0;
  z-index: 1;
  content: '';
}

.preventOverflow::before {
  left: -1px;
  background: linear-gradient(90deg, #13151C 51.85%, rgba(0, 0, 0, 0) 100%);
  width: 15%;
}

.preventOverflow::after {
  right: -1px;
  background: linear-gradient(90deg, #13151C 51.85%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(180deg);
  width: 10%;
}

.infiniteProgress {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}

.animatedLoading {
  background-image: linear-gradient(
    90deg,
    #2B2E36 0%,
    #363840 29%,
    #555861 67%,
    #878A94 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.mapContainer {
  height: 33vh;
}

@media screen and (min-width: 360px) {
  .preventOverflow .slick-list {
    height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .preventOverflow .slick-list {
    height: 232px;
  }
}

@media screen and (min-width: 1024px) {
  .preventOverflow .slick-list {
    height: 232px;
  }
}

@media screen and (min-width: 1280px) {
  .preventOverflow .slick-list {
    height: 252px;
  }
}

@media screen and (min-width: 1536px) {
  .preventOverflow .slick-list {
    height: 292px;
  }
}
